{% extends 'base.html.twig' %}
{% block title %}Nouvel utilisateur{% endblock %}
{% block body %}

    <div class="page-header">
        <h1>➕ Nouvel utilisateur</h1>
        <a href="{{ path('app_user_index') }}" class="btn">← Retour</a>
    </div>

    <div class="card" style="max-width:600px;">
        {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.promotion) }}
            {{ form_row(form.plainPassword) }}
            <button type="submit" class="btn btn-primary" style="margin-top:1rem;">Créer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}